body{
	
}

#dc{
	display: flex;
	flex-direction: row;
	background-color: black;
}

#img1{
	height: 5.041vw;
	width: 22.684vw;
	margin: 0.315vw 1.26vw 0.315vw 1.26vw;

}

#img2{
	height: 5.041vw;
	width: 3.151vw;
	margin: 0.315vw 69.313vw 0.315vw 1.26vw;
}

#d3{
	font-family: Aleem Urdu Unicode;
	border: solid grey 0.032vw;
	text-align: center;
}

#d4{
	margin: 3.151vw 18.904vw 1.89vw 0.63vw;
	font-family: Noori-Nastaleeq;
	width: 37.807vw;
}

#d4h{
	font-size: 3.151vw;
}

#p1{
	font-family: Aleem Urdu Unicode;
	font-size: 0.945vw;
	margin-top: -1.26vw;
}

#p2{
	font-family: Aleem Urdu Unicode;
	font-size: 1.26vw;
}

#dc3{
	display: flex;
	flex-direction: row;

}

#img3{
	width: 37.807vw;
}

#d5{
	margin-top: 3.781vw;
	margin-right: 1.89vw;
	width: 18.904vw;
}

#p3{
	font-size: 1.386vw;
}

#img4{
	width: 15.753vw;
}

#dc4{
	color: white;
	font-family: Noori-Nastaleeq;
	font-size: 1.575vw;
	text-align: center;
	margin-top: 1.89;
	display: flex;
	flex-direction: row;
	background-color: black;
	height: 4.411vw;

}

#p4{
	color: white;
	padding: ;
}

#link{
	color: white;
}

#d8{
	margin-right: 34.657vw;
	margin-left: -0.63vw;

}

#d7{
	margin-right: 30.876vw;
	margin-left: 1.26vw;
	margin-top:-0.756vw;

}

#d6{
	margin-left: 8.822vw;
}

#arrow1{
	height: 4.096vw;
	width: 9.452vw;
}

#arrow2{
	height: 4.096vw;
	width: 9.452vw;
}

#hd1{
	font-family: Noori-Nastaleeq;
}

#hd2{
	font-family: Noori-Nastaleeq;
}

@font-face {
	font-family: Noori-Nastaleeq;
	src: url(Noori-Nastaleeq.ttf); 
}

@font-face {
	font-family: Aleem Urdu Unicode;
	src: url(Aleem Urdu Unicode.ttf); 
}
